body {
    background: black;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: inherit;
	color: #DA70D6;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

.mediaicons a {
    display: inline-block;
    text-align:center;
    font-size: 45px;
    margin: 0;
    padding: 0;
    position: relative;
    color: #DA70D6;
    text-decoration: none;
}

.mediaicons center {
    position: absolute;
    transform: translateY(-10%);
    right: 6px;
	color: #DA70D6;
    letter-spacing: 10px;
}

.textstuff {
    color: White;
    font-family: 'Arial Bold', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
	color: #DA70D6;
    transform: translate(-50%, -50%);
}

.textstuff h1 {
    font-family: "Lato", Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}

.textstuff text2 {
    font-family: "Lato", Arial, sans-serif;
    font-size: 22px;
    font-weight: 300;
}

.textstuff center {
    text-align: center; 
    width: 100%; 
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
